// Palette

$yellow: rgba(255, 253, 152, 1)
$ligreen: rgba(189, 228, 167, 1)
$green: rgba(179, 210, 178, 1)
$liblue: rgba(159, 187, 204, 1)
$blue: rgba(122, 156, 198, 1)
$dkred: rgba(179, 0, 0, 1)

*
  font-family: 'Open Sans', sans-serif

html
  width: 100%

body
  position: relative
  width: 100%
  margin: auto
  margin-top: 0
  color: rgb(41, 41, 61)
//  max-width:  1350px
//  background:
//  image: linear-gradient(to right, white 0%, $liblue 10%, $liblue 90%, white 100%)
    repeat: no-repeat

a
  text-decoration: none
  color: white
  transition: 1s ease
  &:hover
    text-decoration: none
    color: rgb(255, 204, 0)
    transition: 1s ease

header
  height: 500px
  width: 100%
  position: relative
  overflow: hidden

  & h1
    font-family: 'Nothing You Could Do', cursive
    color: white
    text-shadow: 2px 2px 2px #ffcc00

.header-background
  z-index: -10
  position: absolute
  height: 500px
  width: 100%
  overflow: hidden
  background:
    image: url(../images/owl.jpg)
    repeat: no-repeat
    attachment: fixed
    position: top -200px center
    size: cover

.header-overlay
  z-index: -9
  position: absolute
  height: 500px
  width: 100%
  top: 0
  left: 0
  background:
    color: rgba(0, 0, 0, .3)

.header-wrapper
  position: relative
  left: 20%
  top: 35%

  & .head-owl
    position: relative
    left: 30px

  & .head-dev
    position: relative
    left: 60px

.navbar
  background:
    color: black !important

.navbar-toggler:focus
  outline: none

.navbar-toggler-icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 204, 0, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important

.nav-item .nav-link
  font-family: 'Nothing You Could Do', cursive
  color: white !important

.nav-item .active
    color: rgb(255, 204, 0) !important


main
  margin: auto

ul
  list-style: none
  padding: 0

h1, h5
  font-family: 'Roboto', sans-serif
  font-weight: 300
  color: rgb(163, 163, 194)

h1
  color: rgb(103, 103, 152)

#about-anchor, #gallery-anchor, #contact-anchor
  display: block
  margin-top: -55px
  height: 55px
  visibility: hidden

#about-section
  margin: 4em 0
  position: relative
  display: grid
  grid-template-areas: ". profile ." ". about ."
  grid-template-columns: 1fr 5fr 1fr


.profile
  margin: 5em 0
  padding: 0
  grid-area: profile
  display: grid block
  grid-template-areas: "selfie" "name" "title"

.about
  grid-area: about
  width: 100%

.profile .selfie
  height: 200px
  width: 200px
  border-radius: 50%
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
  grid-area: selfie

.name
  font-size: 30px
  margin-top: 5px


hr
  margin: 0
  height: 1px
  border-top: 1px solid black

.skills-list
  grid-area: skills
  display: grid
  grid-template-areas: "langs libs" "pres other"
  grid-auto-columns: 1fr 1fr
  grid-gap: 10px

.list
  opacity: 0
  transform: translateX(-20px)
  transition: 1.5s ease

  &.skill-appear
    opacity: 1
    transform: translateX(0px)

.langs
  grid-area: langs

.libraries
  grid-area: libs

.preprocessors
  grid-area: pres

.other
  grid-area: other

.skills-list hr
  width: 150px

#gallery-section
  padding: 3em 0
  display: grid
  grid-template-columns: 1fr 5fr 1fr
  background:
    color: black

.gallery-header
  color: white
  grid-column: 2
  margin-bottom: 2em
  font-family: 'Permanent Marker', cursive


.gallery-box
  grid-column: 2
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px 0

.gallery-item
  text-align: center
  opacity: 0
  transition: 1s ease-in


  &:nth-child(-n+3)
    transform: translateY(20px)

  &:nth-child(n+4)
    transform: translateY(-20px)

  &.appear-top
    opacity: 1
    transform: translateY(0px)
  &.appear-bottom
    opacity: 1
    transform: translateY(0px)


.card
  border: none
  border-radius: 0
  position: relative
  width: 100%
  height: 200px
  overflow: hidden

  &:hover .card-overlay
    height: 75px
    transition: 1s ease

  &:hover .card-overlay-dk
    opacity: 0.4
    transition: 1s ease

  &:hover .title
    top: 150px
    opacity: 1
    transition: 1s ease

.card-img
  object-fit: cover
  height: 250px
  border-radius: 0

.card-overlay
  position: absolute
  width: 100%
  bottom: 0
  height: 00px
  background-color: rgb(255, 204, 0)
  opacity: 0.7
  transition: 1s ease

.title
  width: 100%
  position: absolute
  top: 100px
  left: 50%
  transform: translate(-50%, 0)
  color: white
  opacity: 0
  transition: 1s ease

.card-overlay-dk
  position: absolute
  height: 100%
  width: 100%
  background-color: black
  opacity: 0
  transition: 1s ease

.gallery-more
  grid-column: 2
  margin: 1em 0

  & h5
    color: white

  & p
    margin: 0

.gallery-more i
  display: inline-block
  margin: 0.5em 1em 0 1em
  font-size: 40px

#contact-section
  min-height: 800px
  padding: 0 !important

form
  padding: 0 1em
  min-width: 300px !important
  max-width: 600px !important

.contact-header
  padding: 2em 0
  font-family: 'Nothing You Could Do', cursive
  color: white
  text-shadow: 2px 2px 1px black

//.input-group, .form-group



.form-control
  padding: 0 4px

#footer-section
  position: relative
  width: 100%
  height: 80px
  padding: 0
  margin: 0

.footer
  margin: 0
  padding: 0
  width: 100%
  height: 80px
  background: black
  color: white

  h3
    font-size: 15px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)



@media only screen and (min-width: 601px)

  #about-section
    margin: auto
    margin-top: 100px
    max-width: 850px
    min-height: 600px
    padding: 20px 20px
    grid-template-areas: "profile about"
    grid-template-columns: 1fr 2fr
    grid-gap: 30px

  .gallery-box
    grid-template-columns: 1fr 1fr
    grid-gap: 10px




@media only screen and (min-width: 901px)

  // .skills-list
  //   grid-area: about
  //   display: grid
  //   grid-template-areas: "langs libs pres other"
  //   grid-template-columns: 1fr 1fr 1fr 1fr

  .gallery-box
    grid-template-columns: 1fr 1fr 1fr
