head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css' rel='stylesheet')
  link(href='../../css/index.css' rel='stylesheet')

body
  header
    section.head-sect-a
      h1.head-header Web Design Solutions
      .cliff-front-left
      .cliff-front-right
      .mobile-background
  main
    
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item.active
            a(class="nav-link" href="#") About
          li.nav-item
            a(class="nav-link" href="#") Gallery
          li.nav-item
            a(class="nav-link" href="#") Contact
            
    section.about-section
      .profile.text-center
        img.selfie(src='https://www.vinylonthewall.com/wp-content/uploads/2016/09/Male20Stick20Figure.svg')
        .name Roger Baker
        .title Web Developer
      .about  
        h1.about-head About Me
        hr
        p.about-para Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, magni? Veritatis deserunt possimus facilis totam facere cupiditate, excepturi, magnam, mollitia id quidem fugiat blanditiis obcaecati inventore ipsa aspernatur? Quasi, est?
        .skills-list
          .list.langs
            h5.lang-head Languages
            hr    
            ul.lang-list
              li HTML5
              li CSS3
              li Javascript
          .list.libraries
            h5.lib-head Libraries
            hr
            ul.lib-list
              li Bootstrap4
              li jQuery
          .list.preprocessors
            h5.pre-head Preprocessors
            hr
            ul.pre-list
              li Pug
              li Scss/Sass
          .list.other
            h5.other-head Other
            hr
            ul.other-list
              li Git and Github
              li Photoshop
              li SVG
                      
  script(src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  script(src='../../javascript/index.js' type="text/javascript")
