head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")

body
  header
    section.head-sect-a
      h1.head-header Web Design Solutions
      .cliff-front-left
      .cliff-front-right
  main

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item.active
            a(class="nav-link" href="#") About
          li.nav-item
            a(class="nav-link" href="#") Gallery
          li.nav-item
            a(class="nav-link" href="#") Contact

    section.main-sect-a
      .selfie
        img(src='https://upload.wikimedia.org/wikipedia/commons/f/f5/Emojione_1F933.svg')
      .header-about
        h1 About Me
        hr
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae itaque neque veniam ea doloribus minus excepturi mollitia quam ullam quo? Facere alias, nostrum officia quas voluptates eos aperiam quaerat laudantium maxime quibusdam perspiciatis ratione quisquam ipsa, doloremque, impedit sint neque.

        div
